include README.rst
include LICENSE.txt
include setup.cfg
include snipsmanager/config/*
include snipsmanager/config/asoundrc/*
include snipsmanager/config/drivers/*
include snipsmanager/config/systemd/*
include snipsmanager/templates/*
include snipsmanager/snipsmanager
