[Unit]
Description=Snips BLE
After=snips.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart={{SNIPSBLE_COMMAND}}

[Install]
WantedBy=multi-user.target
