Source: snipsskills
Section: contrib/python
Priority: extra
Maintainer: Snips <labs@snips.ai>
Build-Depends: debhelper (>= 9), python, python-dev, dh-virtualenv (>= 0.10), tar, python2.7, libsdl-mixer1.2, libusb-1.0-0, libusb-1.0-0-dev, python-pyaudio, libsdl1.2-dev, libudev-dev, python-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libsdl-ttf2.0-dev, libsmpeg-dev, python-numpy, libportmidi-dev, libswscale-dev, libavformat-dev, libavcodec-dev, portaudio19-dev, nodejs, build-essential, libyaml-dev, libpython2.7-dev, python-yaml
Standards-Version: 3.9.5
Homepage: www.snips.ai

Package: snipsskills
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7, libusb-1.0-0, ${misc:Pre-Depends}
Depends: ${python:Depends} ${misc:Depends}
Description: A Python package and its dependencies packaged up as DEB in an isolated virtualenv.
    .
    This is a distribution of "snipsskills" as a self-contained
    Python virtualenv wrapped into a Debian package ("omnibus" package,
    all passengers on board). The packaged virtualenv is kept in sync with
    the host's interpreter automatically.
    .
    See https://github.com/spotify/dh-virtualenv for more details.
