$blue: #001EFF;
$darkblue: #0015B0;
$green: #00CD6A;
$meddarkgreen: #00B960;
$darkgreen: #004D28;
$lightgrey: #F1F1F1;
$darkgrey: #CBCBCB;
$darkergrey: #555555;

$text-color: #2e2e2e;
$text-color-light: #888888;
