$blue: #001EFF;
$light-blue: #32C3FF;
$dark-blue: #0015B0;
$blue-green: #00D5B5;
$green: #00CD6A;
$grey: #606060;
$dark-grey: #282828;
$pink: #D92688;
$yellow: #FFCA2B;
$purple: #6726B1;

$primary: $blue-green;
$link: $blue;
$info: $light-blue;
$dark: $dark-blue;
