@font-face {
    font-family: "apercu";
    src: url(asset_path('fonts/apercu_regular.ttf'));
    font-style: normal;
}

@font-face {
    font-family: "apercu";
    src: url(asset_path('fonts/apercu_medium.ttf'));
    font-width: 500;
}

@font-face {
    font-family: "apercu_mono";
    src: url(asset_path('fonts/apercu_mono.ttf'));
    font-style: normal;
}