[Unit]
Description=Snips Platform
After=network.target

[Service]
Type=simple
User=%i
ExecStart={{SNIPS_COMMAND}}

[Install]
WantedBy=multi-user.target