[Unit]
Description=Snips Skills
After=snips.service

[Service]
Type=simple
User=%i
ExecStartPre=/bin/sleep 30
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{SNIPSSKILLS_COMMAND}} run

[Install]
WantedBy=multi-user.target